<!DOCTYPE html>
<html lang="en">
<head>

  <meta property="og:image" content="http://crip.io/images/fbimage.png"/>
  <meta property="og:title" content="Crip API"/>
  <meta property="og:url" content="http://api.crip.io/"/>
  <meta property="og:site_name" content="Crip API"/>
  <meta property="og:description" content="The official CPI with awesome crips making the world a little bit better."/>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimal-ui" />
  <link rel="icon" type="image/png" href="{{ url }}/images/favicon.png">

  <script type="text/javascript" src="//use.typekit.net/jvu6kzp.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <script type="text/javascript">google.load("jquery", "1");</script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.18/angular.min.js"></script>

  <link rel="stylesheet" href="{{ url }}/style.css">

  <title>{{ title }} - {{ name }}</title>
  <meta charset="UTF-8">
</head>
<body>

  <div class="site" ng-app="cpi" ng-controller="CripController">

    <header class="header" role="banner">
      <div class="header__inner">
        <h1 class="site-title"><a href="{{ url }}" class="logo">{{ title }}</a></h1>

        <nav class="nav" role="navigation">
          <ul>
            <li><a href="{{ url }}#documentation">Documentation</a></li>
            <li><a href="{{ url }}/login" class="login-link">Login</a></li>
          </ul>
        </nav>
      </div>
      <div class="header__jumbotron">
        <h2 class="site-name">{{ name }}</h2>
        <p class="site-description">The official CPI with awesome crips making the world a little bit better.</p>
      </div>
    </header>

    <main class="main" role="main">
      {% block content %}{% endblock %}
    </main>

    <footer class="footer" role="contentinfo">
      <div class="footer__inner container">
        <div class="grid">
          <div class="grid__item three-tenths">
            <div class="copyright">
              <p class="copyright-title">&copy; <time class="copyright-time" datetime="2014">2014</time> {{ title }}</p>
              <p class="copyright-desc">Designed &amp; Developed in Stockholm, Sweden</p>

              <hr class="copyright-break">

              <a href="#" class="copyright-link">Privacy Policy</a> <span class="copyright-spacer">|</span> <a href="#" class="copyright-link">Terms of Service</a>
            </div>
          </div>
          <div class="grid__item seven-tenths">

          </div>
        </div>
      </div>
    </footer>

  </div>

  <script src="{{ url }}/js/master.js"></script>
</body>
</html>
