/*------------------------------------*
   $BUTTONS
*------------------------------------*/

.btn
  display inline-block
  padding 0 1.5em
  line-height 2.3
  text-align center
  font-size 10px
  text-decoration none
  text-transform uppercase
  font-weight 500
  letter-spacing 1px
  position relative
  vendor('border-radius', 4px)

// Button sizes
.btn__small
  font-size 10px

.btn__medium
  font-size 18px

.btn__large
  font-size 24px


// Button modifiers
.btn--primary
  background-color $brand-color
  color #fff

.btn--secondary
  background-color $base-ui-color
  color #fff
