/*------------------------------------*
   $DEFAULTS
*------------------------------------*/

// Reset border-box
*, *:before, *:after
  vendor('box-sizing', border-box)


// Generic variables
$brand-color = #534267
$base-ui-color = #1D2327
$light-ui-color = #EBE5F4
$base-font-family = "omnes-pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, arial, sans-serif
